<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration>
    <appender name="Log4jAppender" class="net.plcloud.cat.log.CatLog4jAppender"></appender>
    <appender name="ConsoleAppender" class="org.apache.log4j.ConsoleAppender">
        <!-- 设置日志输出的样式 -->
        <layout class="org.apache.log4j.PatternLayout">
            <!-- 设置日志输出的格式 -->
            <param name="ConversionPattern" value="[%d{yyyy-MM-dd HH:mm:ss:SSS}] [%-5p] [method:%l] [%X{catTraceId}] %m%n%n"/>
        </layout>
        <!--过滤器设置输出的级别-->
        <!--<filter class="org.apache.log4j.varia.LevelRangeFilter">
            &lt;!&ndash; 设置日志输出的最小级别 &ndash;&gt;
            <param name="levelMin" value="WARN"/>
            &lt;!&ndash; 设置日志输出的最大级别 &ndash;&gt;
            <param name="levelMax" value="ERROR"/>
            &lt;!&ndash; 设置日志输出的xxx，默认是false &ndash;&gt;
            <param name="AcceptOnMatch" value="true"/>
        </filter>-->
    </appender>

    <!-- 将日志信息输出到文件，可以配置多久产生一个新的日志信息文件 -->
   <!-- <appender name="DailyRollingFileAppender" class="org.apache.log4j.DailyRollingFileAppender">
        &lt;!&ndash; 设置日志信息输出文件全路径名 &ndash;&gt;
        <param name="File" value="D:/log4j/DailyRollingFileAppender.log"/>
        &lt;!&ndash; 设置日志每分钟回滚一次，即产生一个新的日志文件 &ndash;&gt;
        <param name="DatePattern" value="'.'yyyy-MM-dd-HH-mm'.log'"/>
        &lt;!&ndash; 设置日志输出的样式 &ndash;&gt;
        <layout class="org.apache.log4j.PatternLayout">
            &lt;!&ndash; 设置日志输出的格式 &ndash;&gt;
            <param name="ConversionPattern" value="[%d{yyyy-MM-dd HH:mm:ss:SSS}] [%-5p] [method:%l]%n%m%n%n"/>
        </layout>
    </appender>
-->

    <root>
        <level value="debug"/>
        <appender-ref ref="Log4jAppender"/>
        <appender-ref ref="ConsoleAppender"/>
    </root>
</log4j:configuration>